body>div{
    width: 100vw;
    aspect-ratio: 1/1;
}
body>div:first-child{
    background: white;
}

body>div:nth-child(2){
    background: blue;
}

body>div:nth-child(3){
    background: rosybrown;
}

body>div:nth-child(4){
    background: red;
}

body>div>div:first-child{
    width: 100vw ;
    height: 5vh;
    position: sticky;
    top: 0;
    left: 0;
}

body>div>div:nth-child(2){
    font-size: 100px;
    width: fit-content ;
    height: fit-content;
    position: sticky;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}

body>div:first-child>div:first-child{
    color: white;
    background: red;
}

body>div:nth-child(2)>div:first-child{
    color: white;
    background: darkblue;
}

body>div:nth-child(3)>div:first-child{
    color: white;
    background: black;
}

body>div:nth-child(4)>div:first-child{
    color: white;
    background: darkred;
}