
#home{
    position: absolute;
    top: 0;
}
#navBar{

}
#rightSide h3 {
    display: inline-block;
    margin-right: 20px; /* Optional: Adds space between the items */
}
/*#homeSide {*/
/*    width: 15vw;*/
/*    height: 100vh;*/
/*    position: relative;*/
/*    background-color: darkblue;*/
/*}*/