body>div{
    height: 100vh;
    position: relative;
}
.inside{
    height: 270px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.fixedCircle{
    border-width: 15px;
    border-style: solid;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    position: fixed;
    aspect-ratio: 1/1;
}
body>div:first-child>div:first-child{
    border-color: grey;
    height: 300px;
}
body>div:first-child>div:nth-child(2){
    border-color: red;
    height: 270px;
}
body>div:first-child>div:nth-child(3){
    background-color: purple;
}
body>div:nth-child(2)>div{
    background-color: cadetblue;
}
body>div:nth-child(3)>div{
    background-color: coral;
}
.text{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: white;
    font-size: 30px;
    height:fit-content ;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}